html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.vk_logo {
    height: 100%;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vk_logo img {
    width: 200px;
    height: 200px;
}

.vk_logo img:hover {
    cursor: pointer;
}