<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="/static/other/favicon.png">
    <link rel="stylesheet" href="/static/css/authorization.css">
    <title>Authorization</title>
</head>
<body>
    <div class="vk_logo">
        <img class="vk" src="https://pngicon.ru/file/uploads/vk.png">
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/js/authorization.js"></script>
</body>
</html>